*.pyc
core.*
*.out
*.txt
HHWWyy*/
HHWWBBDNN_*/
HHBByyvsAllDNN_*/
HHBByyDNN_*/
NewVarList_June/
SelVar1/
SelVar2/
SelVar2DeCorrMgg/
SelVar3/
SelVar3DeCorrMgg/
SelVar5DeCorrMgg/
SelVar6DeCorrMgg/
All/
Command_Summary_August2021.sh
allVar/
commands_3August2021.sh
commands_3August2021_bbgg.sh
commands_9August2021_bbvsAll.sh
dnn_parameter/
logs/
*.root
.DS_Store
.ipynb_checkpoints/
old_tranings/
correlation_plots/
dataframes/
slurm_submit_*.sh
__init__.py
*.pb
RunManySlurmCommand.sh
input_variables*/
*.patch
